.container {
  max-width: 800px;

  margin: 0 auto;
  padding: 74px 16px 64px;
}

.container-fluid {
  width: 100%;
}

.grid {
  --grid-cols: 1;

  display: grid;
  grid-column: var(--grid-cols);
}

.grid--2-cols {
  --grid-cols: 2;
}

.grid--3-cols {
  --grid-cols: 3;
}
