/* ***** */
/* NAVIGATION BAR */
/* ***** */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;

  background-color: var(--black-01);
  width: 100%;
  height: 47px;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-home {
  display: inline-block;
}

.navbar-toggler {
  display: none;
  font-size: 15px;
  color: var(--white-01);
  background-color: transparent;
  padding: 12px 24px;
  height: 100%;
}

.navbar-toggler:hover {
  color: var(--black-01);
  background-color: var(--gray-01);
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-basis: 100%;
}

.nav-item:last-child {
  display: none;
}

.nav-link {
  font-family: "Lato", sans-serif;
  display: block;
  color: var(--white-01);

  text-transform: uppercase;
  width: 100%;
  height: 100%;

  padding: 12px 24px;
}

.nav-link:hover,
.dropdown-link:hover,
.dropdown:hover > .nav-link {
  background-color: var(--gray-01);
  color: var(--black-01);
}

.dropdown {
  position: relative;
}

.dropdown > .nav-link {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;

  width: 160px;
  background-color: var(--white-01);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-link {
  display: inline-block;
  padding: 8px 16px;
  text-transform: capitalize;
  width: 100%;
}

.search-btn {
  height: 100%;
  padding: 12px 24px;
  cursor: pointer;
}

.search-btn-icon {
  --ionicon-stroke-width: 30px;
  font-size: 15px;
  color: var(--white-01);
}

.search-btn:hover {
  background-color: var(--red-01);
}

/* ***** */
/* SLIDER */
/* ***** */
.slider {
  padding-top: 47px;
}
.slider-box {
  position: relative;
  z-index: 1000;
}

.heading-box {
  position: absolute;
  left: 50%;
  bottom: 50px;
  z-index: 1001;

  color: var(--white-01);
  text-align: center;
  transform: translateX(-50%);
}

.band-desc-text {
  margin: 15px 0;
}

.member-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.member-item {
  flex-basis: 20%;
}

.member-name {
  text-align: center;
  margin: 15px 0;
}

.member-img {
  margin-bottom: 16px;
}

/* ***** */
/* TOUR */
/* ***** */
.tour-dates {
  background-color: var(--black-01);
}

.booking-item {
  position: relative;
  width: 100%;
  color: var(--gray-03);
  background-color: var(--white-01);
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
}

.sold-out::after {
  content: "Sold out";

  position: absolute;
  color: var(--white-01);
  background-color: var(--red-01);
  padding: 0 8px;
  margin-left: 16px;
}

.sold::after {
  content: "3";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-32px, -50%);
  background-color: var(--black-01);
  color: var(--white-01);
  padding: 4px 10px;
  border-radius: 50%;
}

.tour-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px 0;
}
/* ***** */
/* CONTACT*/
/* ***** */
.contact-content {
  display: flex;
  padding: 32px 0;
}

.contact-content-item {
  flex-basis: 50%;
}

.contact-box-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* ***** */
/* FOOTER*/
/* ***** */
.footer {
  padding: 64px 16px;
  text-align: center;
  opacity: 0.6;
}

.footer-text {
  margin: 15px 0;
}

.social-network-box > ion-icon {
  font-size: 24px;
}

.footer-text > a {
  text-decoration: underline;
}
