/* HEADER */
.navbar {
  display: Flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--black);
  width: 100%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: "Lato", sans-serif;
  display: block;
  color: var(--white);

  text-transform: uppercase;

  padding: 12px 24px;
}
